{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} Авторизация : {{ block.super }}  {% endblock %}

{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="border-top">

                    <div class="col-md-8">

                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>Авторизация</h2>

                                <div class="single-content">
                                    <div>

                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}

                                            <div class="col-md-4">
                                                <div class="single-content">
                                                    <a href="/login/vk-oauth2"><img src="/static/auth-vk.png"
                                                                                    class="avatar-3"
                                                                                    data-toggle="tooltip"
                                                                                    title="Авторизация VK"></a>

                                                    <br><br>
                                                    <a href="{% url 'social:begin' 'google-oauth2' %}"><img
                                                            src="/static/loging.png"
                                                            class="avatar-3"
                                                            data-toggle="tooltip"
                                                            title="Авторизация Google"></a>
                                                    <br><br>
                                                </div>

                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Войти
                                            </button>

                                            <br><br>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% endblock %}